#gameContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameScreen {
    background: #361F77;
    color: #fff;
    -webkit-box-shadow: inset 15px 15px 0px 15px rgba(14,0,63,1);
    -moz-box-shadow: inset 15px 15px 0px 15px rgba(14,0,63,1);
    box-shadow: inset 15px 15px 0px 15px rgba(14,0,63,1);
    padding: 55px 75px 25px 75px;
}